{
  "presets": [["@babel/preset-react"]],
  "plugins": [
    // antd 打入dll
    // [
    //   "import",
    //   {
    //     "libraryName": "antd",
    //     "libraryDirectory": "es",
    //     "style": "css"
    //   }
    // ],
    ["@babel/plugin-proposal-decorators", { "legacy": true, "loose": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ]
}
