._20y1gRh-PMeEsgsL1S_-NY {
  margin-right: 4px;
}

._1a1aWWCgVQjR9fNZrS4Omk {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
}
._1a1aWWCgVQjR9fNZrS4Omk .Kn2T45oO4vh_sCbI5E8D4 {
  margin: auto;
}

.dZDwbc-puH-frkvW63mdf {
  height: 100%;
}
.dZDwbc-puH-frkvW63mdf ._2DWtzcZ0AZCSA6i6m_nQi8 {
  height: 56px;
}
.dZDwbc-puH-frkvW63mdf .CW5kU5WayNZPa3AGRADeJ {
  height: calc(100% - 56px);
}
.dZDwbc-puH-frkvW63mdf .CW5kU5WayNZPa3AGRADeJ ._1rLq9OZAP_yn35Q7TTNjJo {
  padding: 24px;
}

.wrapped-modal .ant-modal-content .ant-modal-close-x {
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: left;
}
.wrapped-modal img {
  width: 100%;
}
.wrapped-drag {
  padding: 0 16px;
}

#app {
  height: 100%;
}
::-webkit-input-placeholder {
  color: gray;
}
::-moz-placeholder {
  color: gray;
}
:-ms-input-placeholder {
  color: gray;
}
::-ms-input-placeholder {
  color: gray;
}
::placeholder {
  color: gray;
}

